<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" viewport-fit="cover">
    <title>Encore'24</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="parallax1">

        <header>
            <div class="navbar">
                <div class="logoDiv"><img src="res/logos.png" alt="logo" class="logo"></div>
                <ul class="links">
                    <li><a href="/events">Events</a></li>
                    <li><a href="/caportal">CA Portal</a></li>
                    <li><a href="/sponsor">Sponsors</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">logout</a></li>
                </ul>
                <div class="toggle_btn">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>

            <div class="dropdown_menu">
                <li><a href="/events" class="dd_btn">Events</a></li>
                <li><a href="/caportal" class="dd_btn">CA Portal</a></li>
                <li><a href="/sponsor" class="dd_btn">Sponsors</a></li>
                <li><a href="/profile">Profile</a></li>
            </div>
        </header>

        <div class="titleButtonSection">
            <div class="homepageWrapper">
                <div class="title">
                    <img src="res/logo.png" class="titleImg">
                </div>
                <div class="homepagebuttonssection">
                    <a href="/profile" class="homepagebuttons">Profile</a>
                    <a href="#events" class="homepagebuttons">Explore Events</a>
                </div>

            </div>
        </div>
    </div>

    <div class="count">
        <img src="res/count.png" class="countImg">
    </div>

    <div class="parallax2">
        <h2 class="subTitles">About &nbsp; Encore 24</h2>
        <p class="aboutText">
            Embark on a legacy as the Institute of Engineering and Technology, Lucknow,
            proudly unfolds the annual saga of "Encore." With a storied history spanning
            many years, this iconic event has evolved into a beacon of excellence and
            innovation. Encore has had the honor of hosting renowned personalities,
            including the melodious Jubin Nautiyal and the vivacious Neha Kakkar,
            whose captivating performances added an unforgettable dimension to the
            event's narrative.
            <br><br>
            Join us for a time-honored celebration where tradition gracefully intertwines
            with modernity, and where the echoes of the past resonate with the promise of
            an even grander future. Beyond a mere gathering, Encore is a testament to the
            enduring spirit of creativity, talent, and camaraderie that has defined our
            institution over the years.
            <br><br>
            Don't miss your chance to be part of this historic event that continues to
            attract and inspire with each passing year. Immerse yourself in the symphony
            of brilliance and witness the convergence of legendary legacies at Encore!
        </p>
    </div>


    <div class="ribbon">
        <img src="res/ribbon.png" class="ribbonImg">
    </div>

    <div class="parallax3" id="events">
        <h2 class="subTitles eventtitle">Events</h2>

        <section class="home" id="home">

            <div class="swiper mySwiper home-slider">
                <div class="swiper-wrapper">

                    <div class="swiper-slide"><img src="res/event/1.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/2.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/3.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/4.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/5.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/6.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/7.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/8.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/9.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/10.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/11.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/12.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/13.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/14.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/15.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/16.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/17.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/18.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/19.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/20.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/21.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/22.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/23.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/24.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/25.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/26.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/27.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/28.jpg" alt=""></div>
                    <div class="swiper-slide"><img src="res/event/29.jpg" alt=""></div>

                </div>
            </div>

        </section>
        <div class="enrollbutton">
            <a href="/events">Click here to enroll in your favourite events!</a>
        </div>
    </div>

    <div class="ribbon">
        <img src="res/ribbon.png" class="ribbonImg">
    </div>

    <div class="parallax4">
        <div class="flashback">
            <h2 class="subTitles">Flashbacks</h2>
        </div>

        <section class="flashback">
            <div class="swiper f-mySwiper ">
                <div class="swiper-wrapper">
                    <img src="res/flashback/1.jpg" class="swiper-slide f-slides">
                    <img src="res/flashback/2.jpg" class="swiper-slide f-slides">
                    <img src="res/flashback/3.jpg" class="swiper-slide f-slides">
                    <img src="res/flashback/4.jpg" class="swiper-slide f-slides">
                </div>
            </div>
        </section>

    </div>


    <footer>
        <div class="footercontainer">
            <div class="footer-content">
                <h3>Contact Us</h3>
                <p>Email: encore@ietlucknow.ac.in</p>
                <p>Phone: +91 </p>
                <p>Address: Institute of Engineering and Technology, Lucnkow 226021</p>
            </div>
            <div class="footer-content">
                <h3>Follow Us</h3>
                <ul class="social-icons">
                    <li><a href="https://www.facebook.com/EncoreIET?mibextid=ZbWKwL"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/encore.iet?igsh=dzQ5MGVmaWQxMTJh"><i
                                class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-bar">
            <p>Institute of Engineering and Technology, Lucknow</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/536b7f8348.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>

        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnTcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
        }

        var swiper = new Swiper(".home-slider", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: "auto",
            coverflowEffect: {
                rotate: 0,
                stretch: 0,
                depth: 100,
                modifier: 2,
                slideShadows: true,
            },
            loop: true,
            autoplay: {
                delay: 1000,
                disableOnInteraction: false,
            }
        });

        var fswiper = new Swiper(".f-mySwiper", {
            effect: "cards",
            grabCursor: true,
            loop: true,
            autoplay: {
                delay: 1500,
                disableOnInteraction: false,
            }
        });

    </script>
</body>

</html>
