<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Showcase</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Charm&family=Leckerli+One&family=Open+Sans:wght@300&family=Satisfy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Marhey:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

        body {
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            margin: 0;
            padding: 0;
            background-image: url(../res/bg.jpg);
            color: #fff;
            position: relative;
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            background-position: center;
        }

        header {
            background-color: #0000006c;
            font-family: "Marhey", sans-serif;
        }

        .logoDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 150px;
        }

        .logo {
            max-width: 200px;
        }

        header li {
            list-style: none;
            font-size: 1.2rem;
            font-family: var(--main-font);
        }

        header a {
            text-decoration: none;
            color: #fff;
            font-size: 1.2rem;
            font-family: var(--main-font);
            font-weight: var(--main-weight-a);
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            border-radius: 20px;
        }

        a:hover {
            color: orange;
        }

        header {
            position: relative;
            padding: 0 2rem;
        }

        .navbar {
            width: 100%;
            height: 75px;
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .navbar .links {
            display: flex;
            gap: 2rem;
        }

        .navbar .toggle_btn {
            color: #fff;
            font-size: 1.5rem;
            cursor: pointer;
            display: none;
        }

        .action_btn {
            background-color: rgba(0, 0, 0, 0.273);
            font-family: var(--main-font);
            color: rgb(255, 248, 125);
            padding: 0.5rem 1rem;
            border: none;
            outline: none;
            border-radius: 20px;
            font-size: 1.2rem;
            font-weight: bold;
            cursor: pointer;
        }

        .action_btn:hover {
            scale: 1.05;
            color: #fff;
        }

        .action_btn:active {
            scale: 0.95;
        }

        .dropdown_menu {
            display: none;
            position: absolute;
            right: 2rem;
            top: 60px;
            height: 0;
            width: 300px;
            background: rgba(255, 255, 255, 0.021);
            backdrop-filter: blur(12px);
            border-radius: 10px;
            overflow: hidden;
            transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            z-index: 3;
        }

        .dropdown_menu.open {
            height: 240px;
        }

        .dropdown_menu li {
            padding: 5px 0.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .dropdown_menu .action_btn {
            width: 100%;
            display: flex;
            background-color: rgba(0, 0, 0, 0.536);
            color: rgb(255, 248, 125);
            justify-content: center;
        }

        .dropdown_menu .dd_btn {
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: #ffffff00;
        }


        @media(max-width: 992px) {

            .navbar .links,
            .navbar .action_btn {
                display: none;
            }

            .navbar .toggle_btn {
                display: block;
            }

            .dropdown_menu {
                display: block;

            }
        }

        @media (max-width: 576px) {
            .dropdown_menu {
                left: 2rem;
                width: unset;
            }
        }

        .container {
            margin: 5vmin;
            padding: 6vmin;
            background-color: rgba(0, 0, 0, 0.580);
            border-radius: 17px;
        }

        .enroll {
            display: flex;
            justify-content: left;
            align-items: last baseline;
            height: 100px;
            margin-bottom: 0;
        }

        .regButton {
            padding: 5px 20px;
            text-decoration:none;
            font-family: "Marhey", sans-serif;
            font-size: 20px;
            border: 0px;
            border-radius: 10px;
            background-color: #3498db;
            color: #fff;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.603);
        }
    </style>
</head>

<body>
    <header>
        <div class="navbar">
            <div class="logoDiv"><img src="../res/logo.png" alt="logo" class="logo"></div>
            <ul class="links">
                <li><a href="/events">Events</a></li>
                <li><a href="/caportal">CA Portal</a></li>
                <li><a href="/sponsor">Sponsors</a></li>
            </ul>
            <a href="/login" class="action_btn">Login</a>
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>

        <div class="dropdown_menu">
            <li><a href="/events" class="dd_btn">Events</a></li>
            <li><a href="/caportal" class="dd_btn">CA Portal</a></li>
            <li><a href="/sponsor" class="dd_btn">Sponsors</a></li>
            <li><a href="/login" class="action_btn">Login</a></li>
        </div>

    </header>


    <div class="container">
        <div class="heading">
            <h1>Raftaar</h1>
            <h2>(Rap Battle)</h2>
        </div>
        <div class="content">
        </div>
        <div class="heading">
            <h2>Rulebook</h2>
        </div>
        <div class="content">
            1. The battle will consist of multiple rounds. Number of rounds: 3 (for example). <br>
            2. Each rapper will have a specified number of minutes to deliver their lines. <br>
            3. The time limit for each rapper is 2 minutes (for example). <br>
            4. There should be no personal attacks, threats, or offensive language targeting race, gender,
            religion, or any other sensitive subjects. The focus should be on lyrical skill and creativity. <br>
            5. All lyrics should be original. <br>
            6. No previously recorded material should be used. <br>
            7. Each rapper should wait for their turn to perform without interrupting the opponent. <br>
        </div>
        <div class="enroll">
           <a href="/signup" class="regButton">Register Me!</a>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/536b7f8348.js" crossorigin="anonymous"></script>
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnTcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
        }
    </script>
</body>

</html>